.main-container {
  max-width: 720px !important;
}

.section h3 {
  padding-top: 81px !important;
}

.section h4 {
  padding-top: 77px !important;
}

.panel {
    width: 50%;
}

.figure {
  width: 300px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto !important;
  margin-right: auto !important;
}

.figure-img {
  margin-bottom: .5rem;
  line-height: 1;
}

.img-thumbnail {
}

.figure-caption {
  font-size: 90%;
  color: #6c757d;
}

.footer {
  margin-top:3em;
  text-align:center;
}

